.search-bar {
  background: white;
  width: 54%;
  margin: 30px auto;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: -1px 2px 3px 2px #cecdcd;
}

.search-bar input,
select {
  display: block;
  border: 0.25px solid #dbdbdb;
  border-radius: 5px;
  padding: 10px 5px;
  outline: none;
}

.search-bar input::placeholder {
  font-size: 16px;
  color: rgb(85, 84, 84);
}

.search-bar label {
  font-size: 16px;
  font-weight: 600;
}

.search-bar button {
  background: #4c8bf5;
  width: 55px;
  height: 55px;
  border: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 10px;
}

.search-bar button img {
  width: 15px;
}
